<div class="landing-cristals-about" fxLayout="row" fxLayout.lt-md="column" #divDescription>
    <div class="neolythe-about-description" fxLayout="column" fxFlex="43" fxFlexOffset.gt-sm="3" fxFlex.lt-md="40">
        <h2 class="poppins-m description-title">Neolythe ?</h2>
        <div class="description-content" fxFlex fxLayout="column" fxFlexAlign="center">
            <mat-icon class="custom-quote">format_quote</mat-icon>
            <p>Projet personnel en cours de développement basé sur une maquette réalisée avec Adobe XD. Conçu avec 
                <a href="https://angular.io/" target="_blank" class="positive-value">Angular</a>, 
                <a href="https://material.angular.io/" target="_blank" class="positive-value">Angular Material</a> et 
                <a href="https://sass-lang.com/" target="_blank" class="positive-value">SASS</a>.
            </p>
            <p>Cette application web a pour but de centraliser les cours du minerais (or, argent, platine, ...). Elle propose un panel de fonctionnalités 
                pour visualiser, intéragir ou classer ces données marchandes.
            </p>
            <a mat-stroked-button href="https://github.com/nicolere/Neolythe" target="_blank" class="github-button">
                Github  <mat-icon>launch</mat-icon>
            </a>
        </div>
    </div>
    <div class="neolythe-team-description" fxFlex>
        <div *ngIf="!isSmallDevice" class="carousel-title poppins-m" fxFlexOffset.gt-sm="19">L'Equipe</div>
        <carousel id="faces-carousel" fxFlexOffset.gt-xs="30" fxFlexOffset.xs="20" [height]='isSmallDevice ? 300 : 350' [width]='250' [cellWidth]='250' [dots]='true' [transitionDuration]="500">
            <div class="carousel-cell" *ngFor="let collaborator of projectCollaborators">
                <img src="{{ collaborator.picture }}" alt="{{ collaborator.name || lowercase }}" class="profil-picture">
                <span class="poppins-sb carousel-cell-name">{{ collaborator.name }}</span><br *ngIf="!isSmallDevice" /> 
                {{ isSmallDevice ? '-' : '' }}
                <span class="carousel-cell-description">{{ collaborator.description }}</span>
                <div class="social-links">
                    <a *ngFor="let link of collaborator.links" href="{{ link.url }}">
                        <mat-icon *ngIf="link.name === 'Email'" class="social-links--item">email</mat-icon>
                        <img *ngIf="link.name !== 'Email'" class="social-links--item" src="{{ link.icon }}" alt="{{ link.name || lowercase }}">
                    </a>
                </div>
            </div>
        </carousel>
    </div>
</div>