div.landing-cristals-about {
    border-radius: 10px;
    height: 68%;
    width: 100%;
    color: #fff;

    div.neolythe-about-description {
        height: 50%;

        @media screen and (min-width: 960px) {
            margin-top: 10vh !important;
        }
        margin-top: 4vh;

        h2.description-title {
            width: 100%;
            font-family: "Poppins-Medium";
            margin: 1vh 14vw;
            font-size: 2em;
        }

        div.description-content {
            width: 95%;
            border-radius: 15px 0 0 15px;
            background-color: rgba(0,0,0,0.09);
            white-space: pre-wrap;
            overflow: auto;
            text-overflow: ellipsis;

            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #555;
            }
            mat-icon.custom-quote {
                color: rgba(0,0,0,0.2);
                margin-left: 0.3rem;
                font-size: 2.6rem;
            }

            p {
                font-size: 16px;
                padding: 0.7rem 2rem;

                a {
                    text-decoration: none;
                }
                
            }
            a.github-button {
                width: 26%;
                margin-left: 1.8em;
                margin-bottom: 1em;
                
                mat-icon {
                    margin-left: 0.5em;
                }
            }
        }
    }
    div.neolythe-team-description {
        div.carousel-title {
            width: 8vw;
            height: 3vh;
            margin-top: 5.5vh;
            position: absolute;
            font-size: 2.6em;
        }

        carousel#faces-carousel {
            @media screen and (min-width: 960px) {
                margin-top: 11vh !important;
            }
            @media screen and (max-width: 960px) {
                margin-top: 0.8em !important;
                margin-left: 17vw;
            }
            div.carousel-cell {
                opacity: 0.9;
                text-align: center;

                img.profil-picture {
                    height: 71%;
                    @media screen and (max-width: 960px) {
                        border-radius: 52% 48% 49% 51% / 40% 40% 60% 60%  ;
                    }
                    @media screen and (min-width: 960px) {
                        border-radius: 3em 3em 5rem 5rem;
                    }
                }
                div.social-links a {
                    margin-left: 1vh;

                    mat-icon.social-links--item {
                        font-size: 1.9rem;
                    }
                    .social-links--item {
                        margin-top: 0.2rem;
                        color: white;
                        width: 2.1rem;
                        height: 2.1rem;
                        transition: transform .2s;

                        &:hover {
                            transform: scale(1.25);
                        }
                    }
                }
            }
        }
    }
}