<section id="about-us-personally">
    <div class="container full-height">
        <div class="row no-margin-bottom full-height text-smoothblack">
            <div id="tweets" class="col m6 l6 full-height hide-on-med-and-down">
                <div class="row no-margin-bottom full-height">
                    <app-tweets></app-tweets>
                    <section id="social" class="col s12 m12 l12 half-height no-padding">
                        <div class="left text-smoothblack social-section-title col s12 m12 l12 poppins-m">
                            Social
                            <div class="row links">
                                <a href="{{ link.url }}" class="col l2 m2 s4" target="_blank" *ngFor="let link of personalSocialLinks">
                                    <img alt="{{ link.name }}" rel="noopener" class="responsive-img links--item"
                                    src="{{ link.iconPath }}">
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <section id="collaborators" class="col s12 m12 l6 full-height">
                <div class="center text-smoothblack collaborators-section-title col s12 m12 l12 poppins-m">
                    Descriptions
                </div>
                <div class="container">
                    <div class="white col s12 m12 l12 half-height">
                        <div class="square-canvas z-depth-1">
                            <p class="text-smoothblack center-align garamond-pro-ita">
                                {{ activeCollaborator.description }}
                            </p>
                        </div>
                        <div class="white col s12 m12 l12 " id="btn-collaborators-name">
                            <a (click)="toggleCollaborator(collaborator.name)" 
                            [ngClass]="{'positiv': collaborator.name === activeCollaborator.name }"
                            class="waves-effect waves-light col m3 l3 btn hoverable" 
                            *ngFor="let collaborator of projectCollaborators">
                                {{ collaborator.name }}
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
