/* You can add global styles to this file, and also import other style files */

// Global Fonts imports
@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"), url('./assets/fonts/Poppins-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"), url('./assets/fonts/Poppins-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"), url('./assets/fonts/Poppins-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Muli-Bold";
  src: local("Muli-Bold"), url('./assets/fonts/Muli-Bold.ttf') format("truetype");
}

// Global color style
$positiv: linear-gradient(to right, #80ff72, #7ee8fa);
$negativ: linear-gradient(to right, #fe6dad, #fc9f35);
$neutral: linear-gradient(#8500f9, #e70eff);
$informativ: linear-gradient(#00c6ff, #0072ff);
$positiv-number-value: #1abcb0;
$negativ-number-value: #e6496a;

.positiv {
  background: $positiv;
}

.negativ {
  background: $negativ;
}

.neutral {
  background: $neutral;
}

.text-lightgrey {
  color: #a6a9b7;
}
.text-smoothblack {
  color: #43424b !important;
}

//Global fonts style
.poppins-m {
  font-family: "Poppins-Medium";
}
.poppins-sb {
  font-family: "Poppins-SemiBold";
}
.poppins-r {
  font-family: "Poppins-Regular";
}
.muli-b {
  font-family: "Muli-Bold";
}

//Global style
header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}
.no-box-shadow {
  box-shadow: none;
}
.no-padding {
  padding: 0;
}