ul.sidenav.left-navbar {
  border-radius: 0 15px 0 0;

  .card-panel#current-rate {
    margin-top: 4em;
    border-radius: 10px;
    padding: 10px 40px;

    .card-content {
      #small-title {
        font-size: 15px;
      }
      #rate-sigle {
        font-size: 22px;
      }
      #rate-value {
        font-size: 33px;
      }
    }
  }

  li {
    width: 90%;
    margin: auto;

    &.active,
    a:hover {
      border-radius: 10px;
    }
    a {
      font-size: 13px;
      padding: 0px 55px;
    }
  }
}
div.dark-mode-copyright-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1000;
  border-radius: 8px 8px 0 0;

  div.slider-dark-mode label {
    font-size: 13px;
  }
  span#copyright-text {
    margin-left: 1em;
    font-size: 12px;
  }
}