<ul class="sidenav sidenav-fixed hide-on-med-and-down left-navbar">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel positiv z-depth-3" id="current-rate">
        <div class="card-content">
          <span id="small-title" class="muli-b white-text">Current rate</span><br />
          <span id="rate-sigle" class="poppins-sb white-text">
            $<span id="rate-value" class="poppins-sb white-text">1,923.46</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <li *ngFor="let link of arrayLinks" routerLinkActive="{{ link.routerLinkActive ? 'active' : '' }}">
    <a routerLink="{{ link.routerLink }}" class="text-smoothblack poppins-m"><i class="material-icons">{{ link.iconName }}</i>{{ link.linkName }}</a>
  </li>
</ul>
<div class="dark-mode-copyright-content hide-on-med-and-down white">
  <div class="row slider-dark-mode">
    <div class="col s8 offset-s2">
      <div class="switch">
        <label class="poppins-m text-smoothblack">
          Dark Mode
          <input type="checkbox" />
          <span class="lever"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <span id="copyright-text" class="poppins-r text-lightgrey">© Copyright Personal Project</span>
    </div>
  </div>
</div>