<div fxLayout="column" class="left-navbar">

  <div fxLayout="row">
    <mat-card id="current-rate" class="positiv" fxFlex="77" fxFlexOffset="10">
      <mat-card-content>
        <p id="small-title" class="muli-b white-text">Current rate</p>
        <span id="rate-sigle" class="poppins-sb white-text">
          $<span id="rate-value" class="poppins-sb white-text">1,923.46</span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-nav-list>
    <mat-list-item *ngFor="let link of navigationLinks" routerLink="{{ link.routerLink }}" 
    routerLinkActive="{{ link.routerLinkActive ? 'active' : '' }}" class="text-smoothblack poppins-m">
      <mat-icon matListIcon>{{ link.iconName }}</mat-icon>
      <a>{{ link.linkName }}</a>
    </mat-list-item>
  </mat-nav-list>

  <section fxFlex class="dark-mode-copyright-content">
    <div id="slider-and-copyright">
      <mat-slide-toggle fxFlex="66" fxFlexOffset="15" color="green" class="slide-toggle-dark-mode">Dark Mode</mat-slide-toggle>
    </div>
    <div>
      <p id="copyright-text" fxFlex="81" fxFlexOffset="9" class="poppins-r text-lightgrey">© Copyright Personal Project</p>
    </div>
  </section>
</div>