div.left-navbar {
  width: 250px;
  height: 100%;

  mat-card#current-rate {
    margin-top: 3vh;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
  
    mat-card-content {
      #small-title {
        font-size: 15px;
      }
      #rate-sigle {
        font-size: 22px;
      }
      #rate-value {
        font-size: 33px;
      }
    }
  }

  mat-nav-list {
    margin-top: 3vh;

    mat-list-item {
      width: 90%;
      margin: auto;
      
      &.active {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.active,
      &:hover {
        border-radius: 10px;
      }
      mat-icon {
        margin-right: 2vw;
      }
    }
  }

  section.dark-mode-copyright-content {
    div#slider-and-copyright {
      margin-top: 42.5vh;

      mat-slide-toggle.dark-mode {
        label span.mat-slide-toggle-content {
          font-size: 13px;
        }
      }
    }
    p#copyright-text {
      margin-top: 4vh;
      font-size: 12px;
    }
  }
}