div.row {
    margin-bottom: 0;

    div.col.s10.content {
        padding: 0;
        height: 100vh;
        overflow: hidden;
    
        div.content {
            height: 92vh;
            z-index: 0;
        }
    }
}