<mat-sidenav-container hasBackDrop="false">
    <mat-sidenav #sidenav [mode]="isSmallDevice ? 'over' : 'side' ">
        <app-left-navbar></app-left-navbar>
    </mat-sidenav>
    <mat-sidenav-content> 
        <mat-toolbar class="header">
            <button mat-icon-button  (click)="sidenav.toggle()" class="text-smoothblack">
                <mat-icon>menu</mat-icon>
            </button>
            <a href="/" class="muli-b text-smoothblack">Neolythe</a>
            <span *ngIf="currentNavigationPath === '/dashboard'" class="overview poppins-m text-smoothblack">Overview</span>
            <span *ngIf="currentNavigationPath === '/about'" class="overview poppins-m text-smoothblack">Informations</span>
        </mat-toolbar>

        <div fxLayout="row">
            <div [@sideBarChoice]="prepareRoute(outlet)" class="neolythe-main-content">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>